body{
    background-color: #100e17;
}
.yaver{
    padding: 5px;
    min-width: 80px;
    text-align: center;
    border-radius: 15px;
    color: white;
    background-color: #27bba0;
}
nav ul li a{
    color: white!important;
    font-size: 18px!important;
    margin-left: 40px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #27bba0!important;
}
.active{
    border-bottom: 1px solid white;
    padding-left: 0px!important;
    padding-right: 0px!important;
}  

.title{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
}
.title2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.link{
    display: block;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
    transition: 0.5s;
}
.link2{
    display: inline-block;
    color: white;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 25px;
}
.hello{
    background-color: #27bba0;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
.main{
    margin-top: 100px!important;
}
.main img{
    border-radius:50%;
    width:350px;
    height:350px;
    border:20px solid black;
    

}
.about{
    margin-top: 200px;
}
.button1{
    background: none;
    color: white;
    border: 1px solid #27aa93;
    border-radius: 3px;
    min-width: 70px;
    margin-right: 10px;
    margin-top: 15px;
    
}
.button2{
    background: #27aa93;
    color: white;
    width: 150px;
    border-radius: 20px;
    min-width: 70px;
    margin-right: 10px;
    margin-top: 35px;
    height: 40px;
}

.container{
    margin-top: 100px;
    color: white;

}
h2{
    font-size: 40px;
    font-weight: bold;
}
p{
    font-size: 20px;
    line-height: 1.6;
}
.what h2{
    color: white;

    margin-top: 60px;
    margin-bottom: 60px;
    
}
.box1 i {
  font-size: 36px;
  margin-bottom: 20px;
    color: #ED7256;
}
.box2 i {
  font-size: 36px;
  margin-bottom: 20px;
    color: #8A6BE4;
}
.box1, .box2{
  background: #1a1924;
  border-radius: 16px;
  padding: 40px 30px;
  height: 100%;
  transition: 0.3s;
}
@media(max-width:996px){
nav ul li a{
margin-left:0px;
}


}
